In [1]:
## Assignment-1
integer_variable = 10
float_variable = 3.14
string_variable = "Hello, Jupyter!"
boolean_variable = True

# Print the variables and their types
print("Integer Variable:", integer_variable, "Type:", type(integer_variable))
print("Float Variable:", float_variable, "Type:", type(float_variable))
print("String Variable:", string_variable, "Type:", type(string_variable))
print("Boolean Variable:", boolean_variable, "Type:", type(boolean_variable))

Integer Variable: 10 Type: <class 'int'>
Float Variable: 3.14 Type: <class 'float'>
String Variable: Hello, Jupyter! Type: <class 'str'>
Boolean Variable: True Type: <class 'bool'>

In [2]:
## Assignment-2
my_list = [10, 3.14, "apple", True, 42]

# Access elements from the List by index
print("List:", my_list)
print("Access element at index 0 (first element):", my_list[0])  # Integer
print("Access element at index 2 (third element):", my_list[2])  # String
print("Access element at index 4 (fifth element):", my_list[4])  # Integer

# Create a Tuple with 5 elements
my_tuple = (20, "banana", 5.67, False, "cherry")

# Access elements from the Tuple by index
print("\nTuple:", my_tuple)
print("Access element at index 1 (second element):", my_tuple[1])  # String
print("Access element at index 3 (fourth element):", my_tuple[3])  # Boolean

# Create a Dictionary with 5 key-value pairs
my_dict = {
    "name": "Alice",
    "age": 25,
    "height": 5.6,
    "is_student": True,
    "country": "USA"
}

# Access elements from the Dictionary by key
print("\nDictionary:", my_dict)
print("Access value of 'name':", my_dict["name"])  # String
print("Access value of 'age':", my_dict["age"])  # Integer
print("Access value of 'height':", my_dict["height"])

List: [10, 3.14, 'apple', True, 42]
Access element at index 0 (first element): 10
Access element at index 2 (third element): apple
Access element at index 4 (fifth element): 42

Tuple: (20, 'banana', 5.67, False, 'cherry')
Access element at index 1 (second element): banana
Access element at index 3 (fourth element): False

Dictionary: {'name': 'Alice', 'age': 25, 'height': 5.6, 'is_student': True, 'country': 'USA'}
Access value of 'name': Alice
Access value of 'age': 25
Access value of 'height': 5.6

In [3]:
## Assignment-3
# Input marks for three subjects
mark1 = float(input("Enter marks for subject 1: "))
mark2 = float(input("Enter marks for subject 2: "))
mark3 = float(input("Enter marks for subject 3: "))

# Calculate the average
average = (mark1 + mark2 + mark3) / 3

# Determine the grade based on the average
if average >= 90:
    print("Grade: A")
elif 80 <= average < 90:
    print("Grade: B")
elif 70 <= average < 80:
    print("Grade: C")
else:
    print("Grade: Fail")

Enter marks for subject 1:  55
Enter marks for subject 2:  62
Enter marks for subject 3:  45

Grade: Fail

In [4]:
## Assignment-4
# Input: a positive integer n
n = int(input("Enter a positive integer: "))

# Initialize sum to 0
sum_of_evens = 0

# Loop through numbers from 1 to n
for i in range(2, n+1, 2):  # Start at 2, increment by 2 to get even numbers
    sum_of_evens += i

# Output the result
print("Sum of all even numbers between 1 and", n, "is:", sum_of_evens)

Enter a positive integer:  7

Sum of all even numbers between 1 and 7 is: 12

In [5]:
## Assignment-5-1

# Step 1: Ask the user to enter a positive integer n
n = int(input("Enter a positive integer: "))

# Step 2: Use a for loop to print all numbers from 1 to n on separate lines
print("\nNumbers from 1 to", n, "using a for loop:")
for i in range(1, n + 1):
    print(i)

# Step 3: Use a while loop to calculate the sum of all numbers from 1 to n
sum_numbers = 0
i = 1
while i <= n:
    sum_numbers += i
    i += 1

print("\nThe sum of all numbers from 1 to", n, "is:", sum_numbers)

Enter a positive integer:  43

Numbers from 1 to 43 using a for loop:
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43

The sum of all numbers from 1 to 43 is: 946

In [6]:
## Assignment-5-2
# Step 1: Define a function named calculate_square that takes a single argument n and returns the square of n
def calculate_square(n):
    return n ** 2

# Step 2: In the main program, ask the user to input a positive integer
n = int(input("Enter a positive integer: "))

# Step 3: Call the calculate_square function with the user-provided number and display the result
square = calculate_square(n)
print(f"The square of {n} is: {square}")

Enter a positive integer:  6

The square of 6 is: 36

In [7]:
## Assignment-6-1
import pandas as pd

# Step 1: Create a DataFrame from the provided data
data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 34, 23, 29],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]
}

# Create the DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000
2    Bob   23  Marketing   35000
3  Diana   29    Finance   50000

In [8]:
## Assignment-6-2
import pandas as pd

# Create the DataFrame from the provided data
data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 34, 23, 29],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]
}

df = pd.DataFrame(data)

# Task 1: Display the first 2 rows of the DataFrame
print("First 2 rows of the DataFrame:")
print(df.head(2))  # head(2) displays the first 2 rows
print("\n")

# Task 2: Add a new column 'Bonus' where the bonus is 10% of the salary
df['Bonus'] = df['Salary'] * 0.10

# Display the DataFrame with the new 'Bonus' column
print("DataFrame with 'Bonus' column added:")
print(df)
print("\n")

# Task 3: Calculate the average salary of employees in the DataFrame
average_salary = df['Salary'].mean()
print(f"Average salary of employees: {average_salary:.2f}")
print("\n")

# Task 4: Filter and display employees who are older than 25
older_than_25 = df[df['Age'] > 25]
print("Employees older than 25:")
print(older_than_25)

First 2 rows of the DataFrame:
    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000


DataFrame with 'Bonus' column added:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
2    Bob   23  Marketing   35000  3500.0
3  Diana   29    Finance   50000  5000.0


Average salary of employees: 47500.00


Employees older than 25:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
3  Diana   29    Finance   50000  5000.0